<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="de.stetro.tango.arnavigation"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_navigation_app_color_48dp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".ARNavigationApp">

        <meta-data android:name="DATABASE" android:value="ar_navigation.db" />
        <meta-data android:name="VERSION" android:value="4" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="de.stetro.tango.arnavigation"/>

        <uses-library
            android:name="com.projecttango.libtango_device2"
            android:required="true" />

        <activity
            android:name=".ui.ArActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|uiMode">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity>

    </application>

</manifest>